html *{
    color: #333333;
    font-family: Georgia, Serif;
}

.container{
    width: 60%;
    margin: 0 auto; 
    min-width: 350px;
}

.logo{
    margin: 20px auto;
    text-align: center;
    color: firebrick;
}

h1{
    font-size: 50px;    
}

form{
    text-align: center;
    margin-top: 20px;
}

.input{
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.input:focus{
    outline: 0;   
}

.submit_button{
    width: 15%;
    height: 30px;
    min-width: 60px;
    border-radius: 5px;
}

.results{
    margin-top: 20px;
}

.searched_word{
    text-align: center;
}

.searched_word_text{
    font-weight: bold;   
}

.result, .searched_word{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px dashed darkgrey;
    background-color: white;
}

.meaning, .part_of_speech, .field ,.definition{
    text-align: center;
    margin-top: 5px;
}

.meaning{
    font-weight: bold;
}

.error{
    text-align: center;
    color: #E3E3E3;
}

.secret{
    display: block;
    margin: 0 auto;
}

body{
    background: #94a2dd; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(background.jpg);
    background: -moz-linear-gradient(left,  #94a2dd 0%, #007e8e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#94a2dd), color-stop(100%,#007e8e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #94a2dd 0%,#007e8e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #94a2dd 0%,#007e8e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #94a2dd 0%,#007e8e 100%); /* IE10+ */
    background: linear-gradient(to right,  #94a2dd 0%,#007e8e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94a2dd', endColorstr='#007e8e',GradientType=1 ); /* IE6-8 */
}