.container{
    width: 60%;
    margin: 0 auto; 
    min-width: 350px;
}

.logo{
    margin: 20px auto;
    text-align: center;
    color: firebrick;
}

h1{
    font-size: 50px;    
}

form{
    text-align: center;
    margin-top: 20px;
}

.input{
    width: 80%;
    border-radius: 5px;
}

.input:focus{
    outline: 0;   
}

.submit_button{
    width: 15%;
    min-width: 60px;
    border-radius: 5px;
}

.results{
    margin-top: 20px;
}

.result{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px dashed darkgrey;
    background-color: white;
}

.meaning_text, .part_of_speech_text, .field_text, .definition_text{
    
}

.meaning, .part_of_speech, .field ,.definition{
    text-align: center;
    margin-top: 5px;
}

.meaning{
    font-weight: bold;
}

.error{
    text-align: center;    
}

.secret{
    display: block;
    margin: 0 auto;
    width: 100%;
}

body{
    background: #94a2dd; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0YTJkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDdlOGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #94a2dd 0%, #007e8e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#94a2dd), color-stop(100%,#007e8e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #94a2dd 0%,#007e8e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #94a2dd 0%,#007e8e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #94a2dd 0%,#007e8e 100%); /* IE10+ */
    background: linear-gradient(to right,  #94a2dd 0%,#007e8e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94a2dd', endColorstr='#007e8e',GradientType=1 ); /* IE6-8 */
}